.artikel{
	border-bottom: 1px solid #dcdcdc;
	padding: 40px 20px;
}
.artikel h3{
	margin-top: 0px;
}
.artikel p{
	margin-bottom: 0px;
	text-align: justify;
	color: #484848;
}
.artikel:last-child{
	border-bottom: none;
	padding-bottom: 0px;
}
.artikel:first-child{
	padding-top: 0px;
}